html, body {
  margin: 0;
  padding: 0;
  background-color: #EFECCA;
  font-family: 'Sarpanch', sans-serif;
  text-align: center;
}

.container {
  margin: 30px auto;
  width: 320px;
}

.button {
  padding: 0 10px 10px 10px;
  font-size: 140px;
  color: #046380;
  display: inline-block;
  cursor: pointer;
}

.left {
  float: left
}

.right {
  float: right;
}

.centre {
  background-color: #046380;
  color: #EFECCA;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto 0;
  clear: both;
  font-size: 32px;
  cursor: pointer;
}

.speed {
  font-size: 32px;
  margin-top: 20px;
}

.speed span {
  margin: 0;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 32px;
  color: #046380;
  cursor: pointer;
}

.speed span.selected {
  background-color: #046380;
  color: #EFECCA;
}
