html, body {
  margin: 0;
  padding: 0;
  background-color: #EFECCA;
  font-family: 'Sarpanch', sans-serif;
  text-align: center;
}

.container {
  margin: 30px auto;
  width: 320px;
}

input#servo-key {
  box-sizing: border-box;
  width: 100%;
  border-radius: 6px;
  background-color: #EFECCA;
  border: 1px solid #046380;
  padding: 10px;
  font-size: 24px;
  text-align: center;
}

.button {
  padding: 0 10px 10px 10px;
  font-size: 140px;
  color: #046380;
  display: inline-block;
  cursor: pointer;
}

.left {
  float: left
}

.right {
  float: right;
}

.centre {
  background-color: #046380;
  color: #EFECCA;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto 0;
  clear: both;
  font-size: 32px;
  cursor: pointer;
}

.speed {
  font-size: 32px;
  margin-top: 20px;
}

.speed span {
  margin: 0;
  display: inline-block;
  border-radius: 32px;
  color: #046380;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.speed span.selected {
  background-color: #046380;
  color: #EFECCA;
}

.button:hover {
  color: #023240;
}

.centre:hover, .speed span:hover {
  background-color: #023240;
}
