<!DOCTYPE html>
<html>
  <head>
    <title>Node Raspberry Pi Controller</title>
    <link type=text/css rel=stylesheet href=/css/font-awesome-4.2.0/css/font-awesome.min.css>
    <link type=text/css rel=stylesheet href=/css/index.css>
  </head>
  <body>

    <div class=container>
      <div class="button left"><i class="fa fa-arrow-circle-left"></i></div>
      <div class="button right"><i class="fa fa-arrow-circle-right"></i></div>
    </div>

    <script type=text/javascript src=/js/vendor/jquery-1.11.1.min.js></script>
    <script type=text/javascript src=/js/index.js></script>
    <script type=text/javascript src=/socket.io/socket.io.js></script>

  </body>
</html>
