<!DOCTYPE html>
<html>
  <head>
    <title>Node Raspberry Pi Controller</title>
    <meta name="viewport" content="width=device-width">
    <link type=text/css rel=stylesheet href=/css/font-awesome-4.2.0/css/font-awesome.min.css>
    <link href='http://fonts.googleapis.com/css?family=Sarpanch:700' rel='stylesheet' type='text/css'>
    <link type=text/css rel=stylesheet href=/css/index.css>
  </head>
  <body>

    <div class=container>
      <input type=text id=servo-key placeholder="Enter your servo key...">
      <div class="button left"><i class="fa fa-arrow-circle-left"></i></div>
      <div class="button right"><i class="fa fa-arrow-circle-right"></i></div>
      <div class=centre>Centre</div>
      <div class=speed>Speed
        <span class=selected>1</span>
        <span>2</span>
        <span>3</span>
      </div>
      <input type=hidden name=speed id=speed value="0.0005">
    </div>

    <script type=text/javascript src=/js/vendor/jquery-1.11.1.min.js></script>
    <script type=text/javascript src=/js/index.js></script>
    <script type=text/javascript src=/socket.io/socket.io.js></script>

  </body>
</html>
